.juegos-list {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 45px;
}
.juegos-list li {
  position: relative;
  cursor: pointer;
  width: 200px;
  box-shadow: 1px 1px 1px #c2c2c2;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 12px;
}

.juegos-list li span {
  font-weight: bold;
}

.juegos-list li:hover {
  left: .1em;
}

.juegos-list a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: auto;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.juegos-list a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.juegos-list a:active {
  background-color: #525252;
  color: #fafafa;
}

.juegos-list .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.imagePlatforms {
  display: flex;
  justify-content: space-around;
}